body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* css de la mitad superior */
.up_section{
    display: flex;
    box-sizing: border-box;

    align-items: center;
    
    justify-content: space-between;
    padding-left: 220px;
    padding-right: 250px;

    padding-top: 75px;

    /* background-image: url("https://raw.githubusercontent.com/CharFranR/Programacion_web_clase_practica_1/d2c2f99bc1bf85b77d142bba4930cf31aa94a814/statics/bg-pattern-top-desktop.svg"); */

}

/* css de la seccion welcome que abarca el texto de la parte superior izquierda  */

.welcome_section {
    box-sizing: border-box;
    width: 400px;
}

.starts_section{
    box-sizing: border-box;
    width: 400px;
    
}

.welcome_header {
    width: 80%;
    color: #501f50;
    font-weight: 900;
    font-size: 40px;
}

.welcome_section p {
    line-height: 25px;
}


/* css de la puntuación con estrellas */

.starts {
    display: flex;
    align-items: center;
    
    width: 100%;
    height: 20px;
    gap: 10px;
    padding: 15px 10px 15px 10px;
    border-radius: 5px;
    background-color: #f7f3f8;
    margin: 10px;

    color: #501f50;
    font-weight: 900;
}

.start_1 {
    transform: translateX(-100px);
}

.start_2 {
    transform: translateX(-50px);
}


/* css de la mitad inferior (las tarjetas) */

.cards_section {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    gap: 20px;

    /* background-image: url("https://raw.githubusercontent.com/CharFranR/Programacion_web_clase_practica_1/d2c2f99bc1bf85b77d142bba4930cf31aa94a814/statics/bg-pattern-bottom-desktop.svg"); */
}

.card {
    box-sizing: border-box;
    width: 350px;

    background-color: #501f50;
    padding: 30px;
    border-radius: 10px;
    color: #e6dae4;

}

.card p {
    font-size: 15px;
    line-height: 20px;
    font-weight: normal;
}


.card_2 {
    margin-top: 25px;
}

.card_3 {
    margin-top: 45px;
}

.card_header {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding: 0;
    display: flex;
}

.image_icon {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.card_header_text {
    box-sizing: border-box;
    margin-left: 20px;
    margin-top: -10px;
    height: 10px;
    font-size: 15px;
    line-height: 3px;
}

.card_header_text_subtitle {
    color: #aa5189;
    font-size: 15px;
    font-weight: normal;
}