body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* css de la mitad superior */
.up_section{
    display: flex;
    box-sizing: border-box;

    align-items: center;
    
    justify-content: space-between;
    padding-left: 220px;
    padding-right: 250px;

    padding-top: 75px;

    background-image: url("https://private-user-images.githubusercontent.com/189405345/541425054-91a4ebfa-b1f7-4373-85bf-39e277e44249.svg?jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3Njk1ODAwMTMsIm5iZiI6MTc2OTU3OTcxMywicGF0aCI6Ii8xODk0MDUzNDUvNTQxNDI1MDU0LTkxYTRlYmZhLWIxZjctNDM3My04NWJmLTM5ZTI3N2U0NDI0OS5zdmc_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1BS0lBVkNPRFlMU0E1M1BRSzRaQSUyRjIwMjYwMTI4JTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDI2MDEyOFQwNTU1MTNaJlgtQW16LUV4cGlyZXM9MzAwJlgtQW16LVNpZ25hdHVyZT1hNWNiMmVhN2M0MGU2YjY2YTQ4ZDIyYTZjYmVmZjU2YWM2OTJmOWE0N2MzMjM5ZDRlZGJmYTMyZjZhYTM5YTE2JlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCJ9.Go71oqTogBPEvH8UHa7bf_0ZLuduiqXRO8MlhUfOB_Y");

}

/* css de la seccion welcome que abarca el texto de la parte superior izquierda  */

.welcome_section {
    box-sizing: border-box;
    width: 400px;
}

.starts_section{
    box-sizing: border-box;
    width: 400px;
    
}

.welcome_header {
    width: 80%;
    color: #501f50;
    font-weight: 900;
    font-size: 40px;
}

.welcome_section p {
    line-height: 25px;
}


/* css de la puntuación con estrellas */

.starts {
    display: flex;
    align-items: center;
    
    width: 100%;
    height: 20px;
    gap: 10px;
    padding: 15px 10px 15px 10px;
    border-radius: 5px;
    background-color: #f7f3f8;
    margin: 10px;

    color: #501f50;
    font-weight: 900;
}

.start_1 {
    margin-left: -100px;
}

.start_2 {
    margin-left: -50px;
}


/* css de la mitad inferior (las tarjetas) */

.cards_section {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    gap: 20px;

    background-image: url("https://private-user-images.githubusercontent.com/189405345/541425051-dcb472b6-e7fa-4835-a3f3-a6b53ffd2f18.svg?jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3Njk1ODAwMTMsIm5iZiI6MTc2OTU3OTcxMywicGF0aCI6Ii8xODk0MDUzNDUvNTQxNDI1MDUxLWRjYjQ3MmI2LWU3ZmEtNDgzNS1hM2YzLWE2YjUzZmZkMmYxOC5zdmc_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1BS0lBVkNPRFlMU0E1M1BRSzRaQSUyRjIwMjYwMTI4JTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDI2MDEyOFQwNTU1MTNaJlgtQW16LUV4cGlyZXM9MzAwJlgtQW16LVNpZ25hdHVyZT1iNjdjMzE2NGVlNmI1MmU2NWJiN2IxOGRlMTJhMjljZjI4N2I2MGNiNDE1NjliZDBiNDUzODVhMThlYTMyMzU2JlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCJ9.niaxNVBZjs-hIcTA3oxv7jXPSw3d8lSU6RfdcXbh5d0");
}

.card {
    box-sizing: border-box;
    width: 350px;

    background-color: #501f50;
    padding: 30px;
    border-radius: 10px;
    color: #e6dae4;

}

.card p {
    font-size: 15px;
    line-height: 20px;
    font-weight: normal;
}


.card_2 {
    margin-top: 25px;
}

.card_3 {
    margin-top: 45px;
}

.card_header {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding: 0;
    display: flex;
}

.image_icon {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.card_header_text {
    box-sizing: border-box;
    margin-left: 20px;
    margin-top: -10px;
    height: 10px;
    font-size: 15px;
    line-height: 3px;
}

.card_header_text_subtitle {
    color: #aa5189;
    font-size: 15px;
    font-weight: normal;
}