body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.up_section{
    display: flex;
    background-color: red;
    justify-content: center;
    align-items: center;
    gap: 300px;
    margin: 40px;
}

.welcome_section {
    box-sizing: border-box;
    width: 400px;
}

.stars_section{
    box-sizing: border-box;
    width: 400px;
}







.cards_section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 40px;
}

.card {
    box-sizing: border-box;
    width: 350px;

    background-color: #501f50;
    padding: 30px;
    border-radius: 10px;
    color: #e6dae4;

}

.card p {
    font-size: 15px;
    line-height: 20px;
    font-weight: normal;
}


.card_2 {
    margin-top: 25px;
}

.card_3 {
    margin-top: 45px;
}

.card_header {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding: 0;
    display: flex;
}

.image_icon {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.card_header_text {
    box-sizing: border-box;
    margin-left: 20px;
    margin-top: -10px;
    height: 10px;
    font-size: 15px;
    line-height: 3px;
}

.card_header_text_subtitle {
    color: #aa5189;
    font-size: 15px;
    font-weight: normal;
}